{% extends "base.html"%}
{% block content %}
{% load static %}

<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'login' %}">Login</a>


<h3>SignUp</h3>
<br>
<div class="form">
<form method="post">
	{% csrf_token %}
	{% for field in form %}

		{{ field.label_tag }}
		{{ field }}
		{% if field.help_text %}
			<small style="color: green">{{ field.help_text }}</small>
		{% endif %}
	<br>
		{% for error in field.errors %}
			<p style="color: red">{{ error }}</p>
		{% endfor %}

	{% endfor %}
	<button class="btn btn-primary" type="submit">SignUp</button>
</form>
</div>
{% endblock content%}